.famous-main {
    font-family: var(--font-family-2);
    color: white;

    & .famous {
        &-brand {
            font-size: 0.8rem;
            color: #ddd !important;
            font-weight: 600;
            letter-spacing: 1px;
            margin-bottom: 0.3rem;
        }

        &-title {
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.6;
        }

        &-text {
            font-size: 0.8rem;
            font-family: var(--font-family-1);
            font-weight: 400;

        }

        &-position {
            top: 6%;
            left: 3%;

        }

        &-image {
            height: 100%;
            object-fit: cover;
            object-position: 20%;
            transition: 0.7s ease-in-out;
        }

        &-card:hover .famous-image {
            object-position: 70%;
        }
    }
}