.header__ {

    &section {
        font-size: 0.9rem;
    }

    &top {
        background-color: var(--color-primary);

        & .telephone {
            &>a {
                font-family: inherit;
                color: inherit;
                text-decoration: unset;
            }
        }
    }
    &main{
        
    }
}