:root {
    --font-family-1: "Rubik", sans-serif;
    --font-family-2: "Poppins", sans-serif;
    --font-family-3: "Josefin Sans", sans-serif;
    --font-family-4: "Nunito", sans-serif;
    --color-primary: #131921;
    --color-secondary: #3b4149;
}

p {
    margin: 0;
}

a:is(:visited, :link) {
    text-decoration: none !important;
    color: inherit;
}

input[type=text]:placeholder-shown {
    font-size: 0.9rem;
    font-family: var(--font-family-4);
    font-weight: 600;
}

button {
    border: unset;
    outline: unset;
}